.border {
  color: rgb(9, 9, 9);
  border: 1px solid black ;
}
<h1 class="border text-center">Lucas</h1>




.text-center {
  text-align: center;
}

table {
  border: 1px solid rgb(230, 23, 23) ;
}

td {
  border: 1px solid rgb(121, 64, 252) ;
}


.text-center {
  text-align: center;
}

body {
  background-color: rgb(132, 142, 133);
}
body {
  color : rgb(30, 87, 140);
}